<h2>Welcome to the dashboard</h2>

<h3>My Images</h3>
<% if (user.images.length > 0) { %>
    <div class="row">
        <% user.images.forEach(function(image) {%>
            <div class="col-xs-3 col-xs-6">
                <div class="thumbnail">
                    <img src="<%= image.path %>" alt="<%= image.imageName %>">
                    <div class="caption">
                        <h3><%= image.imageName %></h3>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
<% } else {%>
  You don't have any images yet!
<% } %>
Upload more images <a href="/upload">here</a>.
