<% if (req.session.user){ %>

<% } %>

<div ng-app="pathagram">
    <div ng-controller="MainCtrl as main">
        <div class="well">
            <span class="lead">
                <span class="glyphicon glyphicon-wrench"></span>
            Testing Tools
            </span>

            <span class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Run snippets <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="snippet in snippets">
                        <a href="#" ng-click="loadSnippet(snippet)">
                            {{snippet}}
                        </a>
                    </li>
                </ul>
            </span>
        </div>

        <div class="row" id="main-container">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12" id="file-sidebar">
                <div class="panel panel-default">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="fa fa-file-image-o"></span> Images
                            </h3>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item lead" ng-repeat="image in images | orderBy: 'name'">
                                <img ng-src="{{image.path}}" class="list-image">
                                {{image.name}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="fa fa-file"></span> Files
                            </h3>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item lead" ng-repeat="file in files | orderBy: 'filename'">
                                <a href ng-click="loadFile(file)">
                                    <span class="glyphicon glyphicon-file"></span>
                                    {{file.filename}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                <ul class="nav nav-tabs" role="tablist" id="tab-list"></ul>

                <div id="editor-window">
                    <div id="editor"></div>
                    <button class="btn btn-primary btn-lg btn-block" id="run" autocomplete="off" ng-click="runInput()"
                        data-loading-text='<span class="glyphicon glyphicon-play"></span> Working...'>
                        <span class="glyphicon glyphicon-play"></span> Run
                    </button>
                </div>
                <br>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4">
                <div id="canvas-holder">
                    <img ng-src="{{getFilename()}}" class="img-responsive" id="original-image"
                        ng-show="canvasReady && !showEdited"
                        ng-attr-width="{{getCanvasWidth()}}"
                        ng-attr-height="{{getCanvasHeight()}}">
                    <canvas id="main-canvas" width="0" height="0"></canvas>
                </div>

                <div ng-show="ran">
                    <div ng-show="success">
                        <span class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default" ng-class="{'active': !showEdited}"
                                ng-click="viewOriginal()">
                                <input type="radio" name="options"> Original
                            </label>
                            <label class="btn btn-default" ng-class="{'active': showEdited}"
                                ng-click="viewEdited()">
                                <input type="radio" name="options" checked> Edited
                            </label>
                        </span>

                        <br>

                        <a class="btn btn-default" download="image.png" ng-href="{{getImageDataUrl()}}" target="_blank">
                            <span class="fa fa-download"></span>
                            <span class="hidden-xs hidden-sm">Download</span>
                        </a>

                        <a class="btn btn-default" ng-click="showZoomModal()">
                            <span class="fa fa-search"></span>
                            <span class="hidden-xs hidden-sm">Zoom</span>
                        </a>

                        <br><br>

                        <div class="alert alert-success">
                            Success!
                        </div>
                    </div>
                    <div ng-show="!success" class="alert alert-danger">
                        <strong ng-show="error.lineNumber">
                            Line {{error.lineNumber}}:
                        </strong>
                        {{error.message}}
                    </div>
                </div>
                <br>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="fa fa-quote-left"></span>
                            Log
                        </h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="log in logs track by $index">
                            {{log}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="panel-group" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" href="#api-reference-collapse">
                                <span class="fa fa-support"></span> Quick reference
                              </a>
                            </h4>
                        </div>
                        <div id="api-reference-collapse" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">
                                <%- partial ('quick-ref.ejs') %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="zoom-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            Zoom
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p class="lead">
                            Choose a zoom level, then click anywhere on the normal image to zoom.
                        </p>

                        <div class="btn-group">
                            <button class="btn btn-primary btn-toggle" data-toggle="dropdown">
                                Zoom Level <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="scale in validZoomScales">
                                    <a href ng-click="setZoomScale(scale) && runZoom()">
                                        {{scale}}x
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <h4 class="text-center">Normal</h4>
                                <img ng-src="{{getImageDataUrl()}}" id="zoom-image" class="img-responsive"
                                ng-attr-width="{{getCanvasWidth()}}"
                                ng-attr-height="{{getCanvasHeight()}}">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <h4 class="text-center">Zoomed {{getZoomScale()}}x</h4>
                                <canvas id="zoom-canvas" width="0" height="0"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
