<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-picture"></span> Images
                </h3>
            </div>
            <div class="list-group">
                <div class="list-group-item lead">
                    <img src="../images/elephant.png" class="list-image">
                    elephant
                </div>
                <div class="list-group-item lead">
                    <img src="../images/chicken.png" class="list-image">
                    chicken
                </div>
                <div class="list-group-item lead">
                    <img src="../images/harvard-yard.jpg" class="list-image">
                    harvard
                </div>
            </div>
        </div>
 
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-file"></span> Files
                </h3>
            </div>
            <div class="list-group">
                <div class="list-group-item lead">
                    <a href="#">
                        <span class="glyphicon glyphicon-file"></span>
                        week1<span class="text-muted">.js</span>
                    </a>
                </div>
            </div>
        </div>        
        
        <!--
        <h3>
            <span class="glyphicon glyphicon-picture"></span> Images
        </h3>
        <div class="media">
            <a class="media-left" href="#">
                <img src="../images/elephant.png" class="img-thumbnail">
            </a>
            <div class="media-body">
                <p class="media-heading lead">elephant</p>
            </div>
        </div>
        
        <h3>
            <span class="glyphicon glyphicon-file"></span> Files
        </h3>
        <div class="media">
            <a class="media-left" href="#">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
            <div class="media-body">
                <p class="media-heading lead">elephant</p>
            </div>
        </div>    
-->
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
        <h3 class="text-center">week1<span class="text-muted">.js</span></h3>
        
        <div id="editor-window">
            <div id="editor">
var RATIO = 1.5;

q = new TImage("harvard");
var pixels = q.getAllPixels();

for (var i = 0; i < pixels.length; i++) {
    var pixel = pixels[i];
    pixel.setRed(pixel.getRed() * RATIO);
    pixel.setGreen(pixel.getGreen() * RATIO);
    pixel.setBlue(pixel.getBlue() * RATIO);
}
q.refresh();
            
            </div>     
            <button class="btn btn-success btn-lg btn-block" id="run" data-loading-text='<span class="glyphicon glyphicon-play"></span> Working...' autocomplete="off">
                <span class="glyphicon glyphicon-play"></span> Run
            </button>
        </div>
        <br>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4">
        <canvas id="main-canvas" width="0", height="0"></canvas>
        <div id="messages-success">
            <div class="alert alert-success">Success!</div>
            <a id="btn-download-image" class="btn btn-default" download="image.png" href="#" target="_blank">
                <span class="glyphicon glyphicon-download-alt"></span>
                Download Drawing
            </a>
        </div>
        <div id="messages-failure" class="alert alert-danger">
            
        </div>
        <div id="console-holder" class="alert alert-info">
            <p class="lead">Log</p>
            <ul id="console"></ul>
        </div>
    </div>
</div>