 <h2>Quick Tripod Reference</h2>

<h3>TImage</h3>

<p>Represents an image that you can create or load.</p>

<p>Creating a TImage:</p>

<ul>
    <li><code>new TImage(source)</code> - creates a TImage from a pre-loaded image (see sidebar.)</li>
</ul>


<p>Working with a TImage:</p>

<table class="table">
    <thead>
        <tr>
            <th>Function</th>
            <th>Returns</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>getWidth()</code> 
            </td>
            <td>Number</td>
            <td>Width (# columns)</td>
        </tr>
        <tr>
            <td><code>getHeight()</code> 
            </td>
            <td>Number</td>
            <td>Height (# rows)</td>
        </tr>
        <tr>
            <td><code>getSize()</code> 
            </td>
            <td>Number</td>
            <td>Number of pixels (width * height)</td>
        </tr>
        <tr>
            <td><code>getAllPixels()</code> 
            </td>
            <td>TPixel array</td>
            <td>All the pixels in the image</td>
        </tr>
        <tr>
            <td><code>getPixelAt(x, y)</code> 
            </td>
            <td>TPixel</td>
            <td>Pixel at column x, row y</td>
        </tr>
        <tr>
            <td><code>refresh()</code> 
            </td>
            <td> <strong>nothing</strong> 
            </td>
            <td>Updates the - call after editing image</td>
        </tr>
    </tbody>
</table>


<h3>TPixel</h3>

<p>Represents a pixel (one dot) in a TImage.</p>

<p>Working with a TPixel:</p>

<table class="table">
    <thead>
        <tr>
            <th>Function</th>
            <th>Returns</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>getRed()</code> 
            </td>
            <td>Number</td>
            <td>Red value (0-255)</td>
        </tr>
        <tr>
            <td><code>setRed(r)</code> 
            </td>
            <td> <em>nothing</em> 
            </td>
            <td>Changes red value (0-255)</td>
        </tr>
        <tr>
            <td><code>getGreen()</code> 
            </td>
            <td>Number</td>
            <td>Green value (0-255)</td>
        </tr>
        <tr>
            <td><code>setGreen(g)</code> 
            </td>
            <td> <em>nothing</em> 
            </td>
            <td>Changes green value (0-255)</td>
        </tr>
        <tr>
            <td><code>getBlue()</code> 
            </td>
            <td>Number</td>
            <td>Blue value (0-255)</td>
        </tr>
        <tr>
            <td><code>setBlue(b)</code> 
            </td>
            <td> <em>nothing</em> 
            </td>
            <td>Changes blue value (0-255)</td>
        </tr>
        <tr>
            <td><code>getAlpha()</code> 
            </td>
            <td>Number</td>
            <td>Alpha (transparency) value (0-255)</td>
        </tr>
        <tr>
            <td><code>setAlpha(a)</code> 
            </td>
            <td>Number</td>
            <td>Changes alpha (transparency) value (0-255)</td>
        </tr>
        <tr>
            <td><code>setRGBA(r, g, b, a)</code> 
            </td>
            <td> <em>nothing</em> 
            </td>
            <td>Changes red, green, blue, and alpha (transparency) all at once</td>
        </tr>
        <tr>
            <td><code>getRGBA()</code> 
            </td>
            <td>Number array</td>
            <td>Red, green, blue, and alpha (transparency), in that order</td>
        </tr>
    </tbody>
</table>