<li role="presentation" data-title="<%= title %>">
    <!--
    A tab (only the tab itself, not the content) to place in a tab list.
    Inputs: String title    The tab name
            String href     Where it should point to, including the #
            bool closable   True if the tab should have a close button
    -->

    <a href="<%= href %>" role="tab" data-toggle="tab">
        <%= title %>
        <% if(closable) { %>
           <button class="btn btn-link btn-xs btn-close">
               <span class="glyphicon glyphicon-remove"></span>
           </button>
        <% } %>
    </a>
</li>