.brand-image {
    max-height: 30px;
    display: inline !important;
}

#main-container{
    padding: 1em;
}

#editor {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 450px;
}
.list-image {
    max-width: 40px;
    max-height: 40px;
}

#canvas-holder {
    position: relative;
}
#main-canvas, #zoom-canvas {
    max-width: 100%;
}
#original-image {
    position: absolute;
    top: 0;
    left: 0;
    /*display: none;*/
}
#zoom-image {
    cursor: zoom-in;
}
