<!--
    Prints out information when the user's code was run successfully.
-->


<div class="alert alert-success">Success!</div>
<a id="btn-download-image" class="btn btn-default" download="image.png" href="#" target="_blank">
    <span class="glyphicon glyphicon-download-alt"></span>
    Download Image
</a>

<span class="btn-group" data-toggle="buttons">
    <label class="btn btn-default" id="view-original">
        <input type="radio" name="options" autocomplete="off"> Original
    </label>
    <label class="btn btn-default active" id="view-edited">
        <input type="radio" name="options" autocomplete="off" checked> Edited
    </label>
</span>